---
http_interactions:
- request:
    method: post
    uri: https://business-sandbox.cryptopay.me/api/risks/score
    body:
      encoding: UTF-8
      string: '{"address":"2N9wPGx67zdSeAbXi15qHgoZ9Hb9Uxhd2uQ","currency":"BTC","type":"source_of_funds"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:JD9V4Q8PGkx7iAeXQkpCakGZlFI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"score":7.5,"level":"medium","resource_name":"default","resource_category":"unknown"}}'
  recorded_at: Mon, 18 Oct 2021 11:09:59 GMT
recorded_with: VCR 6.0.0
