---
http_interactions:
- request:
    method: post
    uri: https://business-sandbox.cryptopay.me/api/exchange_transfers
    body:
      encoding: UTF-8
      string: '{"charged_currency":"EUR","charged_amount":"100.0","received_currency":"BTC","received_amount":null,"force_commit":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:Wr4/oyyyxqOu2Os9WDLu4EPRZYs=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"id":"8ec1fe49-6487-473e-888f-252f1f617f75","charged_amount":"100.0","charged_currency":"EUR","received_amount":"0.0018142","received_currency":"BTC","custom_id":null,"exchange":{"pair":"BTCEUR","rate":"54569.4206","fee":"1.0","fee_currency":"EUR"}}}'
  recorded_at: Mon, 18 Oct 2021 10:03:48 GMT
- request:
    method: post
    uri: https://business-sandbox.cryptopay.me/api/exchange_transfers/8ec1fe49-6487-473e-888f-252f1f617f75/commit
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:LYZ5twM2R2foD7E116fo1RmeMd0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"8ec1fe49-6487-473e-888f-252f1f617f75","charged_amount":"100.0","charged_currency":"EUR","received_amount":"0.0018142","received_currency":"BTC","custom_id":null,"exchange":{"pair":"BTCEUR","rate":"54569.4206","fee":"1.0","fee_currency":"EUR"}}}'
  recorded_at: Mon, 18 Oct 2021 10:03:49 GMT
recorded_with: VCR 6.0.0
