---
http_interactions:
- request:
    method: post
    uri: https://business-sandbox.cryptopay.me/api/exchange_transfers
    body:
      encoding: UTF-8
      string: '{"charged_currency":"EUR","charged_amount":"100.0","received_currency":"BTC","received_amount":null,"force_commit":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:GOARYhSVjWuQvk2RiXNzbeUtkG8=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"id":"36d00b67-dec5-4437-a79c-400b9a138ff1","charged_amount":"100.0","charged_currency":"EUR","received_amount":"0.0018142","received_currency":"BTC","custom_id":null,"exchange":{"pair":"BTCEUR","rate":"54569.4206","fee":"1.0","fee_currency":"EUR"}}}'
  recorded_at: Mon, 18 Oct 2021 10:03:47 GMT
recorded_with: VCR 6.0.0
