---
http_interactions:
- request:
    method: get
    uri: https://business-sandbox.cryptopay.me/api/exchange_transfers/2c090f99-7cc1-40da-9bca-7caa57b4ebfb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:ogSJzxZwWuU+xqLblNwaVsUE3Ag=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"2c090f99-7cc1-40da-9bca-7caa57b4ebfb","charged_amount":"100.0","charged_currency":"EUR","received_amount":"0.00182068","received_currency":"BTC","custom_id":null,"exchange":{"pair":"BTCEUR","rate":"54375.2576","fee":"1.0","fee_currency":"EUR"}}}'
  recorded_at: Mon, 18 Oct 2021 10:03:46 GMT
recorded_with: VCR 6.0.0
