---
http_interactions:
- request:
    method: post
    uri: https://business-sandbox.cryptopay.me/api/channels
    body:
      encoding: UTF-8
      string: '{"name":"Channel name","pay_currency":"BTC","receiver_currency":"EUR"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:fHnX+Pq04X7vdQdcisMYTN+9oTs=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"id":"0ec10193-19dc-4aec-98c7-050ea3c96db9","status":"enabled","name":"Channel
        name","description":null,"receiver_currency":"EUR","pay_currency":"BTC","address":"2NC4ymtetv3Ls8ZHoeNditLUeVcTXi1w6dM","network":"bitcoin","project_id":"cfc93c44-fef3-4ccc-ac8f-090f8e702006","custom_id":null,"customer_id":null,"uri":"bitcoin:2NC4ymtetv3Ls8ZHoeNditLUeVcTXi1w6dM","hosted_page_url":"https://hosted-business-sandbox.cryptopay.me/channels/0ec10193-19dc-4aec-98c7-050ea3c96db9"}}'
  recorded_at: Mon, 18 Oct 2021 07:53:35 GMT
recorded_with: VCR 6.0.0
