---
http_interactions:
- request:
    method: get
    uri: https://business-sandbox.cryptopay.me/api/channels/15d0bb11-1e9f-4295-bec5-abd9d5a906a1/payments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:8JjgRZz9kMJWHxnRblSO/vks5OI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"704291ec-0b90-4118-89aa-0c9681c3213c","paid_amount":"0.00184519","paid_currency":"BTC","received_amount":"104.47","received_currency":"EUR","fee":"1.06","fee_currency":"EUR","txid":"4a46a2071635b6c504b72e6ecad8229e4c2efb1b2b10ac05da72b9c306ac36a2","exchange":{"pair":"BTCEUR","rate":"57192.7353","fee":"0.0","fee_currency":"EUR"},"status":"completed","status_context":null,"refund_address":null,"coin_withdrawal_id":null,"custom_id":null,"customer_id":null,"channel_id":"15d0bb11-1e9f-4295-bec5-abd9d5a906a1","address":"2Mz3bcjSVHG8uQJpNjmCxp24VdTjwaqmFcJ","network":"bitcoin","risk":{"score":6.23,"level":"medium","resource_name":"default","resource_category":"unknown"},"created_at":"2021-10-18T07:09:54+00:00"},{"id":"839ed785-07e5-4b58-b235-2cbac6ece9e1","paid_amount":"0.00184519","paid_currency":"BTC","received_amount":"104.77","received_currency":"EUR","fee":"1.06","fee_currency":"EUR","txid":"bf2690d53564e6b1fa510ecddf7472d6e6c679fd9a22d82d198d8d4b88f78448","exchange":{"pair":"BTCEUR","rate":"57356.375","fee":"0.0","fee_currency":"EUR"},"status":"completed","status_context":null,"refund_address":null,"coin_withdrawal_id":null,"custom_id":null,"customer_id":null,"channel[...]
