---
http_interactions:
- request:
    method: get
    uri: https://business-sandbox.cryptopay.me/api/channels/custom_id/CHANNEL-123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:nIA4eETuPxe1MLC7JzgMr+XJD1s=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"350aa936-63f1-4590-ba4a-cb7a43cb696e","status":"enabled","name":"0","description":null,"receiver_currency":"EUR","pay_currency":"BTC","address":"2N9wPGx67zdSeAbXi15qHgoZ9Hb9Uxhd2uQ","project_id":"cfc93c44-fef3-4ccc-ac8f-090f8e702006","custom_id":"CHANNEL-123","customer_id":null,"uri":"bitcoin:2N9wPGx67zdSeAbXi15qHgoZ9Hb9Uxhd2uQ","hosted_page_url":"https://hosted-business-sandbox.cryptopay.me/channels/350aa936-63f1-4590-ba4a-cb7a43cb696e"}}'
  recorded_at: Mon, 18 Oct 2021 07:53:34 GMT
recorded_with: VCR 6.0.0
