---
http_interactions:
- request:
    method: get
    uri: https://business-sandbox.cryptopay.me/api/coins
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:831ZHBUviTsy/w6jueJVqS90DXU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"currency":"BTC","name":"Bitcoin","logo_url":"https://ledger-development.s3.eu-west-1.amazonaws.com/public/currencies/BTC.svg","networks":[{"network":"bitcoin","name":"Bitcoin","precision":8,"destination_tag":null,"invoices":{"enabled":true},"channels":{"enabled":true},"coin_withdrawals":{"enabled":true}}]},{"currency":"LTC","name":"Litecoin","logo_url":"https://ledger-development.s3.eu-west-1.amazonaws.com/public/currencies/LTC.svg","networks":[{"network":"litecoin","name":"Litecoin","precision":8,"destination_tag":null,"invoices":{"enabled":true},"channels":{"enabled":true},"coin_withdrawals":{"enabled":true}}]},{"currency":"BCH","name":"Bitcoin Cash","logo_url":"https://ledger-development.s3.eu-west-1.amazonaws.com/public/currencies/BCH.svg","networks":[{"network":"bitcoin_cash","name":"Bitcoin Cash","precision":8,"destination_tag":null,"invoices":{"enabled":true},"channels":{"enabled":true},"coin_withdrawals":{"enabled":true}}]},{"currency":"XRP","name":"XRP","logo_url":"https://ledger-development.s3.eu-west-1.amazonaws.com/public/currencies/XRP.svg","networks":[{"network":"ripple","name":"Ripple","precision":6,"destination_tag":{"required":true,"name":"Destination tag"},"invoices":{"enabled":true},"channels":{"enabled":true},"coin_withdrawals":{"enabled":true}}]},{"currency":"ETH","name":"Ethereum","logo_url":"https://ledger-development.s3.eu-west-1.amazonaws.com/public/currencies/ETH.svg","networks":[{"network":"ethereum","name":"Ethereum (ERC20)","precision":8,"destination_tag":null,"invoices":{"enabled":true},"channels":{"enabled":true},"coin_withdrawals":{"enabled":true}}]},{"currency":"USDT","name":"Tether","logo_url":"https:[...]
