---
http_interactions:
- request:
    method: post
    uri: https://business-sandbox.cryptopay.me/api/coin_withdrawals
    body:
      encoding: UTF-8
      string: '{"address":"2Mz3bcjSVHG8uQJpNjmCxp24VdTjwaqmFcJ","charged_currency":"EUR","received_currency":"BTC","charged_amount":"100.0","force_commit":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:4sKfoH9CBAXpiDJn0qZlBbBEW1Q=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ef329f6f-c8b1-49d1-be07-a83ce60252b9","custom_id":null,"customer_id":null,"address":"2Mz3bcjSVHG8uQJpNjmCxp24VdTjwaqmFcJ","txid":null,"status":"new","charged_amount":"100.0","charged_currency":"EUR","received_amount":"0.00184519","received_currency":"BTC","network_fee":"0.00000216","network_fee_level":"average","fee":"0.0","fee_currency":"BTC","exchange":{"pair":"BTCEUR","rate":"53590.0452","fee":"1.0","fee_currency":"EUR"},"risk":null,"created_at":"2021-10-18T07:09:30Z"}}'
  recorded_at: Mon, 18 Oct 2021 07:09:30 GMT
- request:
    method: post
    uri: https://business-sandbox.cryptopay.me/api/coin_withdrawals/ef329f6f-c8b1-49d1-be07-a83ce60252b9/commit
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:PrPi+O8UBkhW3AhlnkQiQGEAwuE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"ef329f6f-c8b1-49d1-be07-a83ce60252b9","custom_id":null,"customer_id":null,"address":"2Mz3bcjSVHG8uQJpNjmCxp24VdTjwaqmFcJ","txid":null,"status":"pending","charged_amount":"100.0","charged_currency":"EUR","received_amount":"0.00184519","received_currency":"BTC","network_fee":"0.00000216","network_fee_level":"average","fee":"0.0","fee_currency":"BTC","exchange":{"pair":"BTCEUR","rate":"53590.0452","fee":"1.0","fee_currency":"EUR"},"risk":null,"created_at":"2021-10-18T07:09:30+00:00"}}'
  recorded_at: Mon, 18 Oct 2021 07:09:30 GMT
recorded_with: VCR 6.0.0
