---
http_interactions:
- request:
    method: get
    uri: https://business-sandbox.cryptopay.me/api/coin_withdrawals/network_fees
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:cXc/+cQZM86gBMj9kq/QLEUb2Rs=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"level":"fast","fee":"0.00000216","currency":"BTC"},{"level":"average","fee":"0.00000216","currency":"BTC"},{"level":"slow","fee":"0.00000216","currency":"BTC"},{"level":"average","fee":"0.001","currency":"LTC"},{"level":"average","fee":"0.000045","currency":"XRP"},{"level":"average","fee":"0.0002531","currency":"ETH"},{"level":"average","fee":"0.0001","currency":"BCH"},{"level":"average","fee":"0.466609","currency":"USDT"},{"level":"average","fee":"1.02685956","currency":"DAI"}]}'
  recorded_at: Mon, 18 Oct 2021 07:09:30 GMT
recorded_with: VCR 6.0.0
