---
http_interactions:
- request:
    method: get
    uri: https://business-sandbox.cryptopay.me/api/coin_withdrawals/custom_id/PAYMENT-123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:tVf2K0ni5KbpwJVbqPU8laqmToc=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"cdb4faf8-5956-4d01-a00c-7c1b3267a126","custom_id":"PAYMENT-123","customer_id":null,"address":"2Mz3bcjSVHG8uQJpNjmCxp24VdTjwaqmFcJ","txid":"91b56ef2164ae37e95ce82723ff46c83a3e211b1a2cd1afcc21bee8f6c663d64","status":"completed","charged_amount":"100.0","charged_currency":"EUR","received_amount":"0.00184519","received_currency":"BTC","network_fee":"0.00000216","network_fee_level":"average","fee":"0.0","fee_currency":"BTC","exchange":{"pair":"BTCEUR","rate":"53590.0452","fee":"1.0","fee_currency":"EUR"},"risk":{"score":4.61,"level":"low","resource_name":"default","resource_category":"unknown"},"created_at":"2021-10-18T06:49:21+00:00"}}'
  recorded_at: Mon, 18 Oct 2021 07:09:29 GMT
recorded_with: VCR 6.0.0
