---
http_interactions:
- request:
    method: post
    uri: https://business-sandbox.cryptopay.me/api/invoices/c8233d57-78c8-4c36-b35e-940ae9067c78/recalculations
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:hTpY6B+OGEutNNo0hcGBcF6cq2Y=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"id":"a62e9331-7128-4e55-ba3f-70ea35bcd858","invoice_id":"c8233d57-78c8-4c36-b35e-940ae9067c78","pay_amount":"0.00005","pay_currency":"USDT","price_amount":"0.00005","price_currency":"USDT","fee":"0.000001","fee_currency":"USDT","previous_pay_amount":"50.0","previous_price_amount":"50.0","previous_exchange_rate":null,"exchange":null,"created_at":"2021-10-14T11:30:34Z"}}'
  recorded_at: Thu, 14 Oct 2021 11:30:34 GMT
- request:
    method: post
    uri: https://business-sandbox.cryptopay.me/api/invoices/c8233d57-78c8-4c36-b35e-940ae9067c78/recalculations/a62e9331-7128-4e55-ba3f-70ea35bcd858/commit
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:VNmjzwMOEDn+CVDBMEHRRDXy/eA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"a62e9331-7128-4e55-ba3f-70ea35bcd858","invoice_id":"c8233d57-78c8-4c36-b35e-940ae9067c78","pay_amount":"0.00005","pay_currency":"USDT","price_amount":"0.00005","price_currency":"USDT","fee":"0.000001","fee_currency":"USDT","previous_pay_amount":"50.0","previous_price_amount":"50.0","previous_exchange_rate":null,"exchange":null,"created_at":"2021-10-14T11:30:34+00:00"}}'
  recorded_at: Thu, 14 Oct 2021 11:30:35 GMT
recorded_with: VCR 6.0.0
