---
http_interactions:
- request:
    method: post
    uri: https://business-sandbox.cryptopay.me/api/invoices/440d0d3a-52c4-4097-b5b1-d9b137aaca60/recalculations
    body:
      encoding: UTF-8
      string: '{"force_commit":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:3r82+KQuX3C/XSulIhTfhHj2VyA=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"id":"b6894a86-690b-4a99-a6ac-25a961f5012c","invoice_id":"440d0d3a-52c4-4097-b5b1-d9b137aaca60","pay_amount":"0.02623524","pay_currency":"ETH","price_amount":"89.21","price_currency":"EUR","fee":"0.9","fee_currency":"EUR","previous_pay_amount":"0.02987883","previous_price_amount":"100.0","previous_exchange_rate":"3346.8521","exchange":{"pair":"ETHEUR","rate":"3400.4427","fee":"0.0","fee_currency":"EUR"},"created_at":"2021-10-14T11:27:27+00:00"}}'
  recorded_at: Thu, 14 Oct 2021 11:27:28 GMT
recorded_with: VCR 6.0.0
