---
http_interactions:
- request:
    method: post
    uri: https://business-sandbox.cryptopay.me/api/invoices/7e274430-e20f-4321-8748-20824287ae44/refunds
    body:
      encoding: UTF-8
      string: '{"address":"0xf3532c1fd002665ec54d46a50787e0c69c76cd44"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:4+StA4rPQX5+bGVvwPlCX6NyR50=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2734762e-2ee8-4830-9144-f8f260039f00","custom_id":null,"invoice_id":"7e274430-e20f-4321-8748-20824287ae44","amount":"0.02986987","amount_currency":"ETH","fee":"0.0002987","fee_currency":"ETH","address":"0xf3532c1fd002665ec54d46a50787e0c69c76cd44","txid":null,"risk":null,"created_at":"2021-10-14T11:41:33+00:00"}}'
  recorded_at: Thu, 14 Oct 2021 11:41:33 GMT
recorded_with: VCR 6.0.0
