---
http_interactions:
- request:
    method: get
    uri: https://business-sandbox.cryptopay.me/api/invoices/7e274430-e20f-4321-8748-20824287ae44/refunds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:entx8PwvhH42UKNMK66YSNBPA/g=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"2734762e-2ee8-4830-9144-f8f260039f00","custom_id":null,"invoice_id":"7e274430-e20f-4321-8748-20824287ae44","amount":"0.02986987","amount_currency":"ETH","fee":"0.0002987","fee_currency":"ETH","address":"0xf3532c1fd002665ec54d46a50787e0c69c76cd44","txid":"0x08603fd0442c133486fa33d6e0141250d3892be5b31cc99fc8c83055ecb5e96c","risk":{"score":3.11,"level":"low","resource_name":"default","resource_category":"unknown"},"created_at":"2021-10-14T11:41:33+00:00"}]}'
  recorded_at: Thu, 14 Oct 2021 11:41:43 GMT
recorded_with: VCR 6.0.0
