---
http_interactions:
- request:
    method: get
    uri: https://business-sandbox.cryptopay.me/api/invoices/custom_id/PAYMENT-123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:G/41BA2mxnG7Nrdi7OEzQkEjqd4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"e177d55b-96cd-472f-be3c-e9b43f4345e2","custom_id":"PAYMENT-123","customer_id":null,"status":"new","status_context":null,"address":"0x145af124eaf0415c055632352c08e2efb2c6cf5c","network":"ethereum","uri":"ethereum:0x145af124eaf0415c055632352c08e2efb2c6cf5c?value=0.2922619e17","price_amount":"100.0","price_currency":"EUR","pay_amount":"0.02922619","pay_currency":"ETH","fee":"1.0","fee_currency":"EUR","paid_amount":"0.0","exchange":{"pair":"ETHEUR","rate":"3421.5898","fee":"0.0","fee_currency":"EUR"},"transactions":[],"name":null,"description":null,"metadata":null,"success_redirect_url":null,"unsuccess_redirect_url":null,"hosted_page_url":"https://hosted-business-sandbox.cryptopay.me/invoices/e177d55b-96cd-472f-be3c-e9b43f4345e2","created_at":"2021-10-14T11:34:30+00:00","expires_at":"2021-10-14T11:44:30+00:00"}}'
  recorded_at: Thu, 14 Oct 2021 11:37:42 GMT
recorded_with: VCR 6.0.0
