---
http_interactions:
- request:
    method: post
    uri: https://business-sandbox.cryptopay.me/api/customers
    body:
      encoding: UTF-8
      string: '{"id":"500b71259c48d4e212693a21e0d10c60","currency":"EUR"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:ebwVNsyPeLRWlK3bOSjbbRqQQug=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"id":"500b71259c48d4e212693a21e0d10c60","currency":"EUR","refund_addresses":{},"addresses":[]}}'
  recorded_at: Wed, 28 Dec 2022 11:46:46 GMT
recorded_with: VCR 6.0.0
