---
http_interactions:
- request:
    method: post
    uri: https://business-sandbox.cryptopay.me/api/customers
    body:
      encoding: UTF-8
      string: '{"id":"e2abd0899bada2814e6f6aa08aae61f8","currency":"EUR"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:qeFGUyArCutojVbnO1sMEe1cjPI=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"id":"e2abd0899bada2814e6f6aa08aae61f8","currency":"EUR","refund_addresses":{}}}'
  recorded_at: Mon, 18 Oct 2021 10:56:42 GMT
recorded_with: VCR 6.0.0
