---
http_interactions:
- request:
    method: get
    uri: https://business-sandbox.cryptopay.me/api/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:/Bz4w6DHeRL2V22Pz98O+Cr0ohM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"500b71259c48d4e212693a21e0d10c60","currency":"EUR","refund_addresses":{},"addresses":[]},{"id":"EGTEm6T5DKSA9LPrTTqysgwUvSEVw9YE","currency":"BTC","refund_addresses":{"BTC":"2NGPwyaRTrKpjf9njHQDfXAReb2iwbYkZrg","ETH":"0x54baa6f4ff2374b2f8f3a32c0c3dad0acbdb42b2"},"addresses":[{"address":"2NGPwyaRTrKpjf9njHQDfXAReb2iwbYkZrg","currency":"BTC","network":"bitcoin"},{"address":"0x54baa6f4ff2374b2f8f3a32c0c3dad0acbdb42b2","currency":"ETH","network":"ethereum"}]},{"id":"h1dzncjuDElMwzipgDY9Pzc2HHdEyy4Y","currency":"BTC","refund_addresses":{"BTC":"2NGPwyaRTrKpjf9njHQDfXAReb2iwbYkZrg","ETH":"0x54baa6f4ff2374b2f8f3a32c0c3dad0acbdb42b2"},"addresses":[{"address":"2NGPwyaRTrKpjf9njHQDfXAReb2iwbYkZrg","currency":"BTC","network":"bitcoin"},{"address":"0x54baa6f4ff2374b2f8f3a32c0c3dad0acbdb42b2","currency":"ETH","network":"ethereum"}]},{"id":"WGacXfxtyh5UDe[...]
