---
http_interactions:
- request:
    method: get
    uri: https://business-sandbox.cryptopay.me/api/customers/CUSTOMER-123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:i41KAgbj2pBVFOx0nzt612TrZew=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"CUSTOMER-123","currency":"EUR","refund_addresses":{"BTC":"2N9wPGx67zdSeAbXi15qHgoZ9Hb9Uxhd2uQ"},"addresses":[{"address":"2N9wPGx67zdSeAbXi15qHgoZ9Hb9Uxhd2uQ","currency":"BTC","network":"bitcoin"}]}}'
  recorded_at: Wed, 28 Dec 2022 11:46:48 GMT
recorded_with: VCR 6.0.0
