---
http_interactions:
- request:
    method: patch
    uri: https://business-sandbox.cryptopay.me/api/customers/CUSTOMER-123
    body:
      encoding: UTF-8
      string: '{"refund_addresses":{"BTC":"2N9wPGx67zdSeAbXi15qHgoZ9Hb9Uxhd2uQ"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:Jg8CWOwHjG42SKnjIDjSyidO9wE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"CUSTOMER-123","currency":"EUR","refund_addresses":{"BTC":"2N9wPGx67zdSeAbXi15qHgoZ9Hb9Uxhd2uQ"}}}'
  recorded_at: Mon, 18 Oct 2021 10:56:40 GMT
recorded_with: VCR 6.0.0
