---
http_interactions:
- request:
    method: get
    uri: https://business-sandbox.cryptopay.me/api/rates/BTC/EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:aBzwQ6SjW9dAmRqhvISt9liwD38=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"buy_rate":"50386.3764","sell_rate":"52976.3931"}}'
  recorded_at: Thu, 14 Oct 2021 16:03:27 GMT
recorded_with: VCR 6.0.0
