---
http_interactions:
- request:
    method: post
    uri: https://business-sandbox.cryptopay.me/api/subscriptions/de37fb63-986b-4f83-bf9f-612734316fdc/cancel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:UuWZisssDjmxt/mAtPa4VhXP7UI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"de37fb63-986b-4f83-bf9f-612734316fdc","status":"cancelled","custom_id":null,"name":"Subscription
        name","amount":"100.0","currency":"EUR","period":"month","period_quantity":3,"current_period_starts_at":"2023-07-17T08:46:29+00:00","current_period_ends_at":"2023-07-24T08:46:28+00:00","current_period_paid":false,"payer_email":"user@example.com","payer_name":null,"product_name":null,"product_description":null,"success_redirect_url":null,"unsuccess_redirect_url":null,"created_at":"2023-07-17T08:46:29+00:00","cancelled_at":"2023-07-17T08:54:44+00:00"}}'
  recorded_at: Mon, 17 Jul 2023 08:54:44 GMT
recorded_with: VCR 6.1.0
