---
http_interactions:
- request:
    method: get
    uri: https://business-sandbox.cryptopay.me/api/subscriptions/64249ede-8969-4d5c-a042-806f9c3e7db3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - HMAC <API_KEY>:rhsxjTIM9EnBEpkf4/UfgQzOAyY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"64249ede-8969-4d5c-a042-806f9c3e7db3","status":"active","custom_id":"PAYMENT-123","name":"Subscription
        name","amount":"100.0","currency":"EUR","period":"month","period_quantity":3,"current_period_starts_at":"2023-07-17T08:44:30+00:00","current_period_ends_at":"2024-01-18T10:58:28+00:00","current_period_paid":false,"payer_email":"user@example.com","payer_name":null,"product_name":null,"product_description":null,"success_redirect_url":null,"unsuccess_redirect_url":null,"created_at":"2023-07-17T08:44:30+00:00","cancelled_at":null}}'
  recorded_at: Mon, 17 Jul 2023 08:52:56 GMT
recorded_with: VCR 6.1.0
